body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1024px;
    min-height: 100vh;
    margin:auto;
    display: flex;
    flex-direction: column;
}

.content {
    max-width: 896px;
    align-self: center;
    flex-grow: 1;
}

header h1 {
    text-align: center;
}

.media {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3em;
}

.mediaEntry img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.mediaEntry h2 {
    font-size: 36px;
    font-weight: initial;
    margin: 0;
}

.mediaEntry .category {
    text-decoration: none;
    color: #000;
}

.mediaEntry .category:hover, .mediaEntry .category:focus {
    text-decoration: underline;
}

footer {
    align-self: center;
    margin-bottom: 2em;
}