{% extends "layout.html" %}

{% block title %}
{{book.title}}
{% endblock %}

{% block content %}
<section class="info">
    <img src="{{book.img}}" alt="'{{book.title}}' cover" />
    <div class="details">
        <h1>{{book.title}}</h1>
        <h2>
            by 
            {% for author in book.author %}
                {{author}}{% if not loop.last %},{% endif %}
            {% endfor %}
        </h2>
        <h2>{{book.status}} | {{book.pages}} pages{% if 'rating' in book %} | Rating: {{book.rating}}/10{% endif %}</h2>
        {% if 'review' in book %}
            <h3>Review:</h3>
            <p>{{book.review}}</p>
        {% endif %}
    </div>
</section>
{% if 'updates' in book %}
    <section class="log">
        <h3>Reading Log:</h3>
        <ul>
            {% for update in book.updates %}
                <li>
                    {{update.date.strftime('%B %d, %Y')}} | page {{update.page}}
                    {% if 'status' in update %}
                        <ul class="updateComment">
                            <li><em>"{{update.status}}"</em></li>
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}
{% endblock %}