{% extends "layout.html" %}

{% block title %}
Books
{% endblock %}

{% block content %}
<header class="mediaList">
    <a href="../">⬅️ Back to Media</a>
    <h1>Books</h1>
</header>
<section class="books">
    {% for book in books.values() %}
        <div class="mediaEntry">
            <a href="{{book.url}}"><img alt="'{{book.title}}' cover" src="{{book.img}}"/></a>
            <h3>
                <a href="{{book.url}}"><em>{{book.title|truncate(32)}}</em></a>
            </h3>
            <p>
                by 
                {% for author in book.author %}
                    {{author}}{% if not loop.last %},{% endif %}
                {% endfor %}
                <br>
                {{book.status}}{% if 'rating' in book %} | {{book.rating}}/10 {% endif %} 
            </p>
        </div>
    {% endfor %}
</section>
{% endblock %}
