{% extends "layout.html" %}

{% block title %}
{{book.title}}
{% endblock %}

{% block content %}
<header class="title">
    <h1>{{book.title}}</h1>
    <h2>{{book.author}}, {{book.year}}</h2>
    <p>{{book.status}}</p>
    {% if book.pages %}
        <div>{{book.pages}} pages</div>
    {% endif %}
</header>
<div class="body">
    <ul>
        {% for update in book.updates %}
            <li>
                {{update.date}}: page {{update.page}} ({{update.page|format_percentage(book.pages)}} complete)
                {% if update.status %}
                <br>&emsp; <i>"{{update.status}}"</i>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}