{% extends "layout.html" %}

{% block title %}
{{book.title}}
{% endblock %}

{% block content %}
<header class="title">
    <h1>{{book.title}}</h1>
    <h2>
        {% for author in book.author %}
            {{author}}{% if not loop.last %},{% endif %}
        {% endfor %}({{book.year}})</h2>
    <p>{{book.status}}</p>
    {% if book.pages %}
        <div>{{book.pages}} pages</div>
    {% endif %}
</header>
<div class="body">
    <ul>
        {% for update in book.updates %}
            <li>
                {{update.date}}: page {{update.page}} ({{update.page|format_percentage(book.pages)}} complete)
                {% if update.status %}
                <br>&emsp; <i>"{{update.status}}"</i>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
<!-- TODO: work on chart thing
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="myChart" width="200px" height="200"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const labels = {{book.chartX|tojson}};
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'My First Dataset',
            data: {{book.chartY}},
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
    },
});
</script>
-->
{% endblock %}