{% extends "layout.html" %}

{% block title %}
Books
{% endblock %}

{% block content %}
<header>
    <a href="../"><- Back to Media</a>
    <h1>Books</h1>
</header>
<section class="books">
    {% for book in books.values() %}
        <div class="mediaEntry">
            <a href="{{book.url}}"><img alt="'{{book.title}}' cover" src="{{book.img}}"/></a>
            <h3>
                <a href="{{book.url}}"><em>{{book.title}}</em></a><br>
                by {{book.author}}
            </h3>
        </div>
    {% endfor %}
</section>
{% endblock %}
