{% extends "layout.html" %}

{% block title %}
Media
{% endblock %}

{% block content %}
    <header>
        <h1>🖼️ Media Log</h1>
    </header>
    <section class="media">
        <div class="mediaEntry" id="books">
            <a href="/books"><img alt="'{{book.title}}' cover" src="{{book.img}}"/></a>
            <a href="/books" class="category"><h2>Books</h2></a>
            <p>
                {% if book.status == 'reading' %}
                    Currently Reading:<br>
                {% else %}
                    Last Read:<br>
                {% endif %}
                <a href="{{book.url}}"><em>{{book.title}}</em></a><br>
                by
                {% for author in book.author %}
                    {{author|format_author(book.author)}}{% if not loop.last %},{% endif %}
                {% endfor %}
            </p>
        </div>
    </section>
{% endblock %}

