{% extends "layout.html" %}

{% block title %}
Media
{% endblock %}

{% block content %}
    <header>
        <h1>🖼️ Media Log</h1>
    </header>
    <section class="media">
        <div class="mediaEntry" id="books">
            <a href="{{book.url}}"><img alt="'A Confederacy of Dunces' cover" src="https://images-na.ssl-images-amazon.com/images/I/51rEO6ZPAdL._SX342_SY445_QL70_ML2_.jpg"/></a>
            <a href="/books" class="category"><h2>Books</h2></a>
            <p>
                {% if book.status == 'reading' %}
                    Currently Reading:<br>
                {% else %}
                    Last Read:<br>
                {% endif %}
                <a href="{{book.url}}"><em>{{book.title}}</em></a><br>
                by {{book.author}}
            </p>
        </div>
    </section>
{% endblock %}

