<style>
    nav {
        display: flex;
        justify-content: space-between;
    }
</style>

<nav>
    <div class="name">
        <a href="https://cwalsh.dev"><b>Colin Walsh</b></a>
    </div>
    
    <div class="navLinks">
        <a href="https://cwalsh.dev/about">About</a> |
        <a href="https://cwalsh.dev/projects">Projects</a> |
        <a href="https://cwalsh.dev/art">Art</a> |
        <a href="https://media.cwalsh.dev">Media Log</a> |
        <a href="https://cwalsh.dev/contact">Contact</a>
    </div>
</nav>