<style>
    nav {
        display: flex;
        justify-content: space-between;
        
    }
    nav a {
        text-decoration: none;
        color: #000;
    }

    nav a:hover, nav a:focus {
        text-decoration: underline;
    }

    nav a.name {
        text-decoration: none !important;
        font-size: 24px;
    }

    nav .navLinks {
        align-self: center;
        font-size: 18px;
    }
</style>

<nav>
    <a class="name" href="https://cwalsh.dev">
        <h1>Colin Walsh</h1>
    </a>
    
    <div class="navLinks">
        <a href="https://cwalsh.dev/about">About</a> |
        <a href="https://cwalsh.dev/projects">Projects</a> |
        <a href="https://cwalsh.dev/art">Art</a> |
        <a href="https://media.cwalsh.dev">Media Log</a> |
        <a href="https://cwalsh.dev/contact">Contact</a>
    </div>
</nav>